body {
    margin-top: 5px;
    background-color: #212529;
    border-radius: 5px;
    color: #FFFFFF;
}

label {
    color: rgb(108, 117, 125, 0.4);
    margin-left: 5px;
    cursor: default;
}

div > label,
div > input,
div > select {
    margin-top: 15px;
}

div > label {
    margin-right: 25px;
}

input, select {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    outline: none;
    display: none;
    -webkit-appearance: none;
}

input::placeholder {
    opacity: .3;
    font-weight: bold;
    color: #8556A4;
}

select {
    width: 70px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select option {
    background-color: #212529;
}

.date-empty {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.task-title {
    color: #FFFFFF;
    font-weight: 600;
    width: 100%;
    margin-left: 4px; 
}

.highlighted {
    background-color: #8556A4;
}

.low-imp {
    background-color: #39AC95;
}

.med-imp {
    background-color: #FE913E;
}

.high-imp {
    background-color: #DC3545;
}