<body (mouseleave)="checkAndUpdate()">
    <input class="task-title" type="text" [value]="data.title"/>
    <div>
        <span>Category</span>
        <input type="text" [(ngModel)]="data.category"/>
    </div>
    <div>
        <span>Due Date</span>
        <label *ngIf="!data.dueDate" (click)="restoreDueDate()">None</label>
        <input 
            *ngIf="data.dueDate"
            type="date"
            min="{{data.dueDate | date:'yyyy-MM-dd'}}"
            (click)="showDatePicker($event)"
            [(ngModel)]="data.dueDate"
        />
    </div>
    <div>
        <span>Estimate</span>
        <input type="text" [(ngModel)]="data.estimate"/>
    </div>
    <div>
        <span id="importanceSpan">Importance</span>
        <select [class]="getImportanceClass()" [(ngModel)]="data.importance">
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select>
    </div>
</body>