<div class="container-fluid">
  <div class="row vertical-align home-main">
    <div class="col-md-6 left-div">
      <div class="row">
        <img src="../../assets/images/Logo.png" class="logo" alt="Logo"/>
      </div>
      <div class="vertical-align">
        <div class="d-flex home-images">
          <img class="woman-logo" src="../../assets/images/Woman.svg" alt="Woman"/>
          <img class="man-logo" src="../../assets/images/Man.svg" alt="Man"/>
        </div>
      </div>
    </div>
    <div class="col-md-6 right-div">
      <div class="login-form">
        <div class="title">
          <label>Time to Work!</label>
        </div>
  
        <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" ngNativeValidate>
          <label>Email</label>
          <div class="div-spacing">
            <input class="form-control" type="email" name="email" formControlName="email" required>
          </div>
    
          <label>Password</label>
          <div class="div-spacing">
            <input class="form-control" type="password" name="password" formControlName="password" required>
          </div>
          <button class="form-control btn btn-primary" type="submit">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>
</div>
