<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
    <div class="container">
      <a class="navbar-brand">
        <img class="logo" src="../../assets/images/Logo.png"/>
      </a>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item">
          <a>
            <img src="../../assets/images/Search.svg"/>
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img src="../../assets/images/Add.svg"/>
          </a>
        </li>
        <li class="nav-item">
          <a>
            <img class="rounded" src="../../assets/images/Bitmap.png"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
