nav {
  background-color: #262626
}

img {
  cursor: pointer;
}

input {
  outline: none;
  color: #FFFFFF;
  border: 2px solid #6E4C85;
  border-radius: 5px;
  background-color: transparent
}

.logo {
  width: 100px;
  height: 50px;
  cursor: unset;
}

.profile {
  border-radius: 50%;
}

.add-icon {
  position: absolute;
  margin-left: 7px;
  margin-top: 17px;
}

.container {
  margin: 0;
}