<nav class="navbar navbar-nav navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="logo" src="../../assets/images/Logo.png"/>
    </a>
    <div>
      <a class="p-2">
        <img src="../../assets/images/Search.svg"/>
      </a>
      <a class="p-2" (click)="addTask()">
        <img class="add-icon" src="../../assets/images/Add.svg"/>
        <img src="../../assets/images/Circle.svg"/>
      </a>
      <a class="p-2">
        <img class="profile" src="../../assets/images/Bitmap.png"/>
      </a>
    </div>
  </div>
</nav>